<!DOCTYPE html>
<html>
  <head>
    <title>Infosec Challenges</title>
    <meta name="" content="Free Code Camp - Infosec Challenges">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>
        Free Code Camp - Applied InfoSec Challenges
      </h1>
    </header>

    <main>
    </main>

    <footer>
      <a href="https://freecodecamp.org" target="_blank">freeCodeCamp</a>
      <a href="https://fcc.soritra.com">raluds</a>
    </footer>

  </body>
</html>